@font-face {
    font-family: 'Chalkduster';
    src:url('./fonts/Chalkduster.ttf.woff') format('woff'),
        url('./fonts/Chalkduster.ttf.svg#Chalkduster') format('svg'),
        url('./fonts/Chalkduster.ttf.eot'),
        url('./fonts/Chalkduster.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


/* ----------------------- GENERAL SETTINGS ----------------------- */
:root {
    --main-bg-gradient: linear-gradient(to right, rgba(99,144,225,1),rgba(148,79,159,.95));
}

body, main {
    margin: 0;
    position: relative;
    font-family: 'Gill Sans', sans-serif;
}

section {
    min-height: 100vh;
}

/* Main button styles */
.my_btn {
    color: rgba(44, 44, 44, 1);
    width: 300px;
    height: 80px;
    display: block;
    line-height: 75px;
    text-align: center;
    font-size: 25px;
    border: 4px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(white, white), linear-gradient(to left, rgba(99,144,225,1),rgba(148,79,159,1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-decoration: none;
    color: rgba(44, 44, 44, 1);
    transition: all .5s ease-in-out;
    z-index: 9;
}

.my_btn:hover {
    background-image: linear-gradient(to left, rgba(99,144,225,1),rgba(148,79,159,1));
    color: #fff;
    border: 4px solid #fff;
}

/* ----------------------- INTRO SECTION ----------------------- */
/* Settings for intro section container */
#intro {
    position: relative;
    background: linear-gradient(to right bottom,transparent 50%, rgba(99,144,225,1) 0%,rgba(148,79,159,.95)), url("../img/shalman-photo.png") 8vw 50vh/25vh no-repeat;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "title title title ."
      "description description . intro-contact"
      ". . . intro-hire"
      ". second-prof second-prof second-prof";
}

/* "&" symbol between 2 parts of section */
#intro:before {
    content: "&";
    position: absolute;
    font-size: 5vw;
    width: 7vmax;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    background: linear-gradient(to right bottom, rgba(44, 44, 44, 1) 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title {
    grid-area: title;
    justify-self: stretch;
    font-size: 5vw;
    margin-left: 8vw;
    color: rgba(44, 44, 44, 1);
    font-weight: 600;
}

#description {
    grid-area: description;
    font-size: 2.3vw;
    line-height: 4vh;
    margin-left: 8vw;
    color: rgba(44, 44, 44, 1);
}

#second-prof {
    grid-area: second-prof;
    color: #fff;
    font-size: 5vw;
    justify-self: right;
    margin-right: 5vw;
    font-family: 'Chalkduster'
}

#intro-contact {
    grid-area: intro-contact;
    position: relative;
}

/* "OR" between Contact and Hire buttons */
#intro-contact:before {
    content: "or";
    position: absolute;
    left: 0;
    right: 0;
    top: 150%;
    line-height: 90px;
    font-size: 2vw;
    color: #fff;
    /* makes pseudo-elem not clickable and disables URL for it (parent still works) */
    pointer-events: none;
}

#intro-hire {
    grid-area: intro-hire;
}

/* ----------------------- INTRO SECTION ON TABLET ----------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
    #intro {
        background: url("../img/shalman-photo.png") 57vw 12vh/25vh no-repeat;
        grid-template-areas: 
          "title title title ."
          "description description . ."
          "second-prof second-prof second-prof second-prof"
          "intro-contact intro-contact intro-hire intro-hire";
    }

    #intro:before {
       background: linear-gradient(to bottom, rgba(44, 44, 44, 1) 50%, #fff 50%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
        z-index: 1;
    }

    #intro:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(99,144,225,1) 0%,rgba(148,79,159,1));
    }

    #title {
        font-size: 5.5vw;
    }

    #second-prof {
        font-size: 6vw;
        z-index: 1;
        margin: 0 auto;
    }

    #description {
        font-size: 3vw;
    }

    #intro-contact:before {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    #intro {
        background: url("../img/shalman-photo.png") 75vw 12vh/25vh no-repeat;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
          ". title title ."
          "description description description ."
          "second-prof second-prof second-prof second-prof"
          "intro-contact intro-contact intro-hire intro-hire";
    }

    #title {
        margin: 0 auto;
        text-align: center;
    }
}
/* ----------------------- INTRO SECTION ON MOBILE ----------------------- */
@media (max-width: 767px) {
    #intro {
        background: url("../img/shalman-photo.png") 57vw 30vh/20vh no-repeat;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
          "title title title title"
          "second-prof second-prof second-prof second-prof"
          "description description . ."
          "description description . ."
          "intro-contact intro-contact intro-contact intro-contact"
          ". . . ."
          "intro-hire intro-hire intro-hire intro-hire";
    }

    #intro:before {
        top: 17%;
        background: transparent;
        -webkit-text-fill-color: currentColor;
        font-size: 8vw;
    }

    /* BG for intro on mobile */
    #intro:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 57%;
        height: 100%;
        background: linear-gradient(to right, rgba(99,144,225,1) 0%,rgba(148,79,159,1));
    }

    #title {
        font-size: 8vw;
        margin: 0 auto;
        align-self: flex-end;
        font-weight: 400;
    }

    #second-prof {
        color: rgba(44, 44, 44, 1);
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-weight: 400;
        font-size: 11.5vw;
        align-self: flex-end;
    }

    #description {
        font-size: 4vw;
        line-height: 3vh;
    }

    .my_btn {
        width: 180px;
        height: 48px;
        line-height: 48px;
        font-size: 20px;
    }

    #intro-contact:before {
        display: none;
    }


}

@media (max-width: 767px) and (orientation: landscape) {
    #description {
        font-size: 5vh;
        line-height: 6vh;
    }

    #intro {
        background: url("../img/shalman-photo.png") 83vw 15vh/31vh no-repeat;
        grid-template-rows: repeat(4, 25vh);
        grid-template-areas: 
          "title title second-prof second-prof"
          "description description description ."
          "intro-contact intro-contact intro-hire intro-hire"
          "intro-contact intro-contact intro-hire intro-hire";
    }

    #intro:before {
        top: 10%;
    }

    #title {
        font-size: 5vw;
        max-width: 25vw;
        justify-self: flex-end;
    }

    #second-prof {
        font-size: 5vw;
        max-width: 25vw;
    }

    #intro-contact:before {
        top: -7vh;
        left: 125%;
        font-size: 4vw;
    }

}

/* ----------------------- TOOLS AND TECHNOLOGIES SECTION ----------------------- */
#tools-and-techs {
    position: relative;
    display: grid;
    background: linear-gradient(to right bottom, rgba(99,144,225,1) 0%,rgba(148,79,159,.95) 50%, transparent 50%);
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "t-and-t vs-code terminal ."
      "affinity vs-code . git-block"
      "affinity . bootstrap-block jquery-block"
      ". html-block css-block js-block";
}

#tool-and-techs-title {
    grid-area: t-and-t;
    font-size: 3vw;
    margin-left: 2vw;
    color: #fff;
    font-family: 'Chalkduster';
}

/* Styles for block and images inside #affinity figure */
#affinity {
    grid-area: affinity;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#affinity img {
    width: 125px;
    height: 114px;
}
/* End of styles */

/* Styles for block and images inside #vs-code figure */
#vs-code {
    grid-area: vs-code;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#vs-code img {
    width: 125px;
    height: 125px;
}
/* End of styles */

/* Styles for block and images inside #terminal figure */
#terminal {
    grid-area: terminal;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#terminal img {
    width: 125px;
    height: 108px;
    margin-bottom: 15px;
}
/* End of styles */

/* Styles for block and images inside #html-block figure */
#html-block {
    grid-area: html-block;
    text-align: center;
}

#html-block img {
    width: 125px;
}
/* End of styles */

/* Styles for block and images inside #css-block figure */
#css-block {
    grid-area: css-block;
    text-align: center;
}

#css-block img {
    width: 125px;
}
/* End of styles */

/* Styles for block and images inside #js-block figure */
#js-block {
    grid-area: js-block;
    text-align: center;
}

#js-block img {
    width: 125px;
}
/* End of styles */

/* Styles for block and images inside #jquery-block figure */
#jquery-block {
    grid-area: jquery-block;
    text-align: center;
}

#jquery-block img {
    width: 125px;
}
/* End of styles */

/* Styles for block and images inside #bootstrap-block figure */
#bootstrap-block {
    grid-area: bootstrap-block;
    text-align: center;
}

#bootstrap-block img {
    width: 125px;
}
/* End of styles */

/* Styles for block and images inside #git-block figure */
#git-block {
    grid-area: git-block;
    text-align: center;
}

#git-block img {
    width: 125px;
}
/* End of styles */

/* Styles for headers of figure captions */
.caption-header {
    font-size: 1.8vw;
    margin: 15px auto;
    width: 100%;
    color: rgba(44, 44, 44, 1);
}

.caption-header.white-colored-text {
    color: #fff;
}
/* End of styles */

/* Styles for description of figure captions */
.caption-description {
    font-size: 1.2vw;
    line-height: 2.5vw;
    margin-top: 1.5vw;
}

.caption-description.white-colored-text {
    color: #fff;
}
/* End of styles */

/* ----------------------- TOOLS AND TECHNOLOGIES SECTION ON TABLET----------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
    #html-block, #css-block, #js-block, #jquery-block, #bootstrap-block, #git-block {
        margin: 0;
    }

    #tools-and-techs {
        background: inherit;
    }

    #tools-and-techs {
        background: linear-gradient(to right, rgba(99,144,225,1) 0%,rgba(148,79,159,.95));
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 25vh);
        align-items: center;
        grid-template-areas: 
        "t-and-t t-and-t t-and-t t-and-t t-and-t t-and-t t-and-t t-and-t" 
        "affinity affinity vs-code vs-code vs-code vs-code terminal terminal" 
        "html-block html-block css-block css-block js-block js-block git-block git-block" 
        "bootstrap-block bootstrap-block jquery-block jquery-block . . . .";
    }

    #tools-and-techs:before {
        content: "";
        height: 50vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: #fff;
        z-index: 0;
    }

    #tool-and-techs-title {
        font-size: 7vw;
        align-self: flex-end;
        font-weight: 300;
    }

    #affinity, #vs-code, #terminal {
        align-self: flex-start;
        margin: 0 5px;
    }

    /* Only Designer logo should be visible on mobile */
    #affinity img[alt="Affinity Photo"] {
        display: none;
    }

    #affinity img {
        width: 65px;
        height: 60.6px;
    }

    #vs-code img {
        width: 65px;
        height: 65px;
    }

    #terminal img {
        width: 65px;
        height: 65px;
    }

    .caption-description.white-colored-text:not(.terminal-desc) {
        display: none;
    }

    .caption-header {
        font-size: 3.5vw;
        text-align: center;
    }

    .caption-header:not(.white-colored-text) {
        align-self: flex-start;
    }

    .terminal-desc {
        font-size: 3vw;
        line-height: 4vw;
        margin: 0 3vw;
    }

    #html-block img, #css-block img, #js-block img, #bootstrap-block img {
        width: 85px;
    }

    #git-block img {
        width: 100px;
    }

    #jquery-block img {
        width: 90px;
    }

    #html-block, #css-block, #git-block, #js-block, #jquery-block, #bootstrap-block {
        background: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        z-index: 1;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    .caption-header {
        font-size: 2.5vw;
    }

    .terminal-desc {
        font-size: 2.5vw;
    }
}

/* ----------------------- TOOLS AND TECHNOLOGIES SECTION ON MOBILE ----------------------- */
@media (max-width: 767px) {
    #tools-and-techs {
        background: linear-gradient(to right, rgba(99,144,225,1) 0%,rgba(148,79,159,.95));
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 20vh repeat(4, 200px);
        align-items: center;
        grid-template-areas: 
        "t-and-t t-and-t t-and-t t-and-t t-and-t t-and-t" 
        "affinity affinity vs-code vs-code terminal terminal" 
        "html-block html-block html-block css-block css-block css-block" 
        "js-block js-block js-block git-block git-block git-block" 
        "bootstrap-block bootstrap-block bootstrap-block jquery-block jquery-block jquery-block";
    }

    figure {
        margin: 0;
    }

    #tool-and-techs-title {
        font-size: 7vw;
        align-self: flex-end;
        font-weight: 300;
    }

    #affinity, #vs-code, #terminal {
        align-self: flex-start;
    }

    /* Only Designer logo should be visible on mobile */
    #affinity img[alt="Affinity Photo"] {
        display: none;
    }

    #affinity img {
        width: 65px;
        height: 60.6px;
    }

    #vs-code img {
        width: 65px;
        height: 65px;
    }

    #terminal img {
        width: 65px;
        height: 65px;
    }

    .caption-description.white-colored-text:not(.terminal-desc) {
        display: none;
    }

    .caption-header {
        font-size: 5vw;
        text-align: center;
    }

    .caption-header:not(.white-colored-text) {
        align-self: flex-start;
    }

    .terminal-desc {
        font-size: 5vw;
        line-height: 5vw;
        margin: 0 3vw;
    }

    #html-block img, #css-block img, #js-block img, #bootstrap-block img {
        width: 85px;
    }

    #git-block img {
        width: 100px;
    }

    #jquery-block img {
        width: 90px;
    }

    #html-block, #css-block, #git-block, #js-block, #jquery-block, #bootstrap-block {
        background: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
    }


}

@media (max-width: 767px) and (orientation: landscape) {
    #tools-and-techs {
        grid-template-rows: 38vh repeat(4, 200px);
    }

    #tool-and-techs-title {
        margin: 0;
        align-self: center;
    }

    #affinity, #vs-code, #terminal {
        margin-top: 5vh;
        align-self: flex-start;
    }

    #affinity img, #vs-code img, #terminal img {
        min-height: 65px;
        margin: 0;
    }

    .caption-header {
        font-size: 3vw;
    }

    .terminal-desc {
        font-size: 2.5vw;
        margin: 15px auto;
    }
}



/* ----------------------- PROJECTS SECTION ----------------------- */
/* Makes project slidercontainer with its' content be not higher than it should (100vh) */
#projects-slider {
    max-height: 100vh;
    position: relative;
}

.glide__track {
    max-height: 100vh;
}

.glide__slides {
    height: 100vh;
    top: -1em;
}

/* Full-height for images insied slides */
.glide__slide img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.glide__slide {
    position: relative;
    display: flex;
    align-items: center;
}


.cosmotheca-project {
    background: url(../img/cosmotheca-project.jpg) center/cover no-repeat;
}

.coworking-project {
    background: url(../img/coworking-project.jpg) center/cover no-repeat;
}

.vygon-russia-project {
    background: url(../img/vygon-russia-project.jpg) center/cover no-repeat;
}

.pimpmymac-project {
    background: url(../img/pimpmymac-project.jpg) center/cover no-repeat;
}

.mironova-project {
    background: url(../img/ira-mironova-project.jpg) center/cover no-repeat;
}

._9700-project {
    background: url(../img/9700-project.jpg) center/cover no-repeat;
}


.glide__arrow {
    position: absolute;
    top: calc(50% - 1em);
    background: transparent;
    border: none;
    font-size: 4em;
    line-height: 2em;
    padding: 0 1em;
    cursor: pointer;
    color: rgba(148,79,159,.95);
    outline: none;
    text-shadow: 2px 0 0 rgb(94, 145, 229), -2px 0 0 rgb(94, 145, 229), 0 2px 0 rgb(94, 145, 229), 0 -2px 0 rgb(94, 145, 229), 1px 1px rgb(94, 145, 229), -1px -1px 0 rgb(94, 145, 229), 1px -1px 0 rgb(94, 145, 229), -1px 1px 0 rgb(94, 145, 229);
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}

.slide-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw + 10px);
    height: 100%;
    display: grid;
    align-items: center;
    color: #fff;
    z-index: 9999999999;
    background: rgba(44, 44, 44, .6);
}

.slide-text-container * {
    justify-content: center;
    margin: 0 auto;
}

.slide-header {
    font-size: 3vw;
    font-family: 'Chalkduster';
}

.slide-description {
    font-size: 2.2vw;
    max-width: 50vw;
}

/* ----------------------- PROJECTS SECTION ON MOBILE ----------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
    .slide-header {
        font-size: 5vw;
    }

    .slide-description {
        font-size: 4vw;
    }
}

/* ----------------------- PROJECTS SECTION ON MOBILE ----------------------- */
@media (max-width: 767px) {
    .slide-header {
        font-size: 8vw;
    }

    .slide-description {
        max-width: 60vw;
        font-size: 8vw;
    }

    .glide__arrow {
        padding: 0 15px;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .slide-description {
        font-size: 4vw;
    }
}

/* ----------------------- CONTACTS SECTION ----------------------- */
/* Container for section */
#contacts {
    position: relative;
    background: linear-gradient(to right, rgba(99,144,225,1) 0%,rgba(148,79,159,.95)) center/cover no-repeat;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    ". title-contacts ."
    ". description-contacts ."
    ". contact-contacts ."
    ". socials-title ."
    ". social-buttons-list .";
    max-height: 100vh;
}

/* White bg for section 1/2 */
#contacts:before {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 0;
    align-self: baseline;
}

/* Brings section elems to be closer than white bg */
#contacts > * {
    z-index: 1;
    margin: 0;
    padding: 0;
}

#title-contacts {
    font-size: 4vw;
    font-weight: 600;
    grid-area: title-contacts;
    color: rgba(44, 44, 44, 1);
}

#description-contacts {
    font-size: 2.5vw;
    font-weight: 300;
    grid-area: description-contacts;
    color: rgba(44, 44, 44, 1);
}

#contact-contacts {
    grid-area: contact-contacts;
}

#socials-title {
    font-size: 2.5vw;
    font-weight: 300;
    color: #fff;
    grid-area: socials-title;
    align-self: baseline;
}

#social-buttons-list {
    grid-area: social-buttons-list;
    align-self: baseline;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

/* Social buttons' styles */
#social-buttons-list li {
    display: flex;
    border: 3px solid #fff;
    border-radius: 50%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: all .3s ease-in-out;
}

#social-buttons-list li:hover {
    border: 3px solid transparent;
    background-image: linear-gradient(to right, transparent,transparent), linear-gradient(to left, rgba(99,144,225,1),rgba(148,79,159,1));
}

#social-buttons-list a {
    -webkit-mask-size: 50%;
    mask-size: 50%;
    padding: 40px;
    transition: all .3s ease-in-out;
}

#social-buttons-list li:hover a {
    background: linear-gradient(to right, rgba(99,144,225,1),rgba(148,79,159,1));
}

.vk {
    background: #fff;
    -webkit-mask: url(../img/vk_logo.svg) no-repeat 50% 50%;
    mask: url(../img/vk_logo.svg) no-repeat 50% 50%;
}

.fb {
    background: #fff;
    -webkit-mask: url(../img/fb_logo.svg) no-repeat 50% 50%;
    mask: url(../img/fb_logo.svg) no-repeat 50% 50%;
}

.gh {
    background: #fff;
    -webkit-mask: url(../img/gh_logo.svg) no-repeat 50% 50%;
    mask: url(../img/gh_logo.svg) no-repeat 50% 50%;
}

.fcc {
    background: #fff;
    -webkit-mask: url(../img/fcc_logo.svg) no-repeat 50% 50%;
    mask: url(../img/fcc_logo.svg) no-repeat 50% 50%;
}

.cp {
    background: #fff;
    -webkit-mask: url(../img/cp_logo.svg) no-repeat 50% 50%;
    mask: url(../img/cp_logo.svg) no-repeat 50% 50%;
}

.tg {
    background: #fff;
    -webkit-mask: url(../img/tg_logo.svg) no-repeat 50% 50%;
    mask: url(../img/tg_logo.svg) no-repeat 50% 50%;
}

.gm {
    background: #fff;
    -webkit-mask: url(../img/gm_logo.svg) no-repeat 50% 50%;
    mask: url(../img/gm_logo.svg) no-repeat 50% 50%;
}

/* ----------------------- CONTACTS SECTION ON TABLET ----------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
    #contacts {
        grid-template-rows: 20vh 20vh 20vh 10vh 30vh;
    }

    #title-contacts {
        font-size: 7vw;
        max-width: 90vw;
    }

    #description-contacts {
        font-size: 4vw;
        max-width: 90vw;
    }

    #socials-title {
        font-size: 4vw;
        max-width: 90vw;
    }

    #social-buttons-list {
        max-width: 90vw;
        justify-content: space-evenly;
    }
    
    #social-buttons-list li {
        margin: 5vw 0 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    #title-contacts {
        font-size: 5vw;
    }
    
    #description-contacts {
        font-size: 3vw;
    }

    #socials-title {
        font-size: 2.5vw;
    }
}

/* ----------------------- CONTACTS SECTION ON MOBILE ----------------------- */
@media (max-width: 767px) {
    #contacts {
        grid-template-columns: 1fr 90vw 1fr;
        grid-template-rows: 20vh 20vh 20vh 1vh 39vh;
    }

    #title-contacts {
        font-size: 7.5vw;
        font-weight: 400;
    }

    #description-contacts {
        font-size: 6vw;
    }

    #socials-title {
        font-size: 5vw;
        align-self: center;
    }

    #social-buttons-list {
        justify-content: space-evenly;
        margin-bottom: 0;
        align-self: center;
    }

    #social-buttons-list a {
        padding: 22.5px;
    }

    #social-buttons-list li {
        margin: 5vw 3vw 0vw 3vw;
    }

    .fcc {
        -webkit-mask: url(../img/fcc_logo.svg) no-repeat 55% 50%;
        mask: url(../img/fcc_logo.svg) no-repeat 55% 50%;
    }

    .gh {
        -webkit-mask: url(../img/gh_logo.svg) no-repeat 55% 50%;
        mask: url(../img/gh_logo.svg) no-repeat 55% 50%;
    }

    #copyrights {
        margin-bottom: 0.5vh;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    #title-contacts {
        font-size: 4vw;
    }

    #description-contacts {
        font-size: 3vw;
    }

    #socials-title {
        font-size: 3vw;
        margin-top: 5vh;
    }

    #social-buttons-list li {
        margin: 5vw 0vw 0vw 0vw;
    }
}

/* ----------------------- FOOTER ----------------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
