

.workplacesBanner {
  position: relative;
  width: 100%;
  overflow: hidden;

  .header {
    margin: 0 50px;
    color: var(--black);
  }

  @keyframes slide {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }

  .carousel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    animation: slide infinite linear;

    .workplace {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100px;
      pointer-events: none;
      user-select: none;

      img {
        width: 50%;
        height: 100%;
      }
    }
  }
}