


/* ----------------------- GENERAL SETTINGS ----------------------- */
:root {
    --main-bg-gradient: linear-gradient(to right, rgba(99,144,225,1),rgba(148,79,159,.95));
}

body, main {
    margin: 0;
}

section {
    min-height: 100vh;
}


/* ----------------------- INTRO SECTION ----------------------- */
/* Settings for intro section container */
#intro {
    background: linear-gradient(to right bottom,transparent 50%, rgba(99,144,225,1) 0%,rgba(148,79,159,.95)), url("../img/shalman-photo.png") 8vw 50vh/25vh no-repeat;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "title title title ."
      "description description . intro-contact"
      ". . . intro-hire"
      ". second-prof second-prof second-prof";
}

#title {
    grid-area: title;
    justify-self: stretch;
    font-size: 5vw;
    margin-left: 8vw;
}

#description {
    grid-area: description;
    font-size: 2.3vw;
    line-height: 4vh;
    margin-left: 8vw;
}

#second-prof {
    grid-area: second-prof;
    font-size: 5vw;
    justify-self: right;
    margin-right: 5vw;
}

#intro-contact {
    grid-area: intro-contact;
}

#intro-hire {
    grid-area: intro-hire;
}

.my_btn {
    width: 300px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    border: 0px transparent;
    border-radius: 50px;
    background-image: linear-gradient(white, white), linear-gradient(to left, rgba(99,144,225,1),rgba(148,79,159,.95));
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-decoration: none;
    color: rgba(44, 44, 44, 1);
}