


/* ----------------------- GENERAL SETTINGS ----------------------- */
:root {
    --main-bg-gradient: linear-gradient(to right, rgba(99,144,225,1),rgba(148,79,159,.95));
}

body, main {
    margin: 0;
}

section {
    min-height: 100vh;
}


/* ----------------------- INTRO SECTION ----------------------- */
/* Settings for intro section container */
#intro {
    background: linear-gradient(to right bottom,transparent 50%, rgba(99,144,225,1) 0%,rgba(148,79,159,.95)), url("../img/shalman-photo.png") 5vw 40vh/30vh no-repeat;
}

