


/* ----------------------- GENERAL SETTINGS ----------------------- */
body, main {
    margin: 0;
}

section {
    min-height: 100vh;
}




/* ----------------------- INTRO SECTION ----------------------- */
/* Settings for intro section container */
#intro {
    background: linear-gradient(to right, #6390e1 0%,#6390e1 1%,#618edf 1%,#638edd 4%,#668cdd 4%,#638cdb 4%,#648ddc 4%,#628bda 5%,#648ddd 5%,#648bda 6%,#668ddc 6%,#648bda 6%,#638ad9 7%,#658ada 8%,#6489d9 9%,#6488d6 9%,#6788d5 12%,#6586d3 12%,#6787d4 12%,#6585d2 12%,#6585d2 12%,#6787d4 12%,#6485d2 13%,#657fca 21%,#667ec6 21%,#687bc7 24%,#677bc4 27%,#6778c0 28%,#6977c0 31%,#6775bc 31%,#6975bd 32%,#6773bb 34%,#6a74bc 35%,#6871b6 37%,#6a6db2 43%,#6e6db3 43%,#6e6bb0 48%,#716ab0 49%,#706ab0 51%,#7369b0 51%,#7069af 52%,#7467af 55%,#7666ad 55%,#7666ad 56%,#7366ae 56%,#7765af 56%,#7366ae 57%,#7665ac 57%,#7864ac 58%,#805eaa 71%,#7e5ea7 72%,#825ca7 73%,#855ba7 79%,#8758a6 79%,#8759a4 81%,#8859a7 81%,#8759a4 81%,#8c56a4 87%,#8b55a1 87%,#9350a0 97%,#934e9e 97%,#944f9f 100%);
}